<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejemplo API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-title>Estudiante</ion-title>
    </ion-card-header>
    <ion-item>
      <ion-select placeholder="Seleccione estudiante">
        <ion-select-option *ngFor="let est of users" [value]="est">{{est.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-title>Post</ion-title>
    </ion-card-header>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="floating">Titulo</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="floating">Cuerpo</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button shape="round" expand="block">Limpiar</ion-button></ion-col>
        <ion-col><ion-button shape="round" expand="block">Guardar</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-list-header>
      <ion-title>Post Recientes</ion-title>
    </ion-list-header>
    <ion-list>
      <ion-item *ngIf="!posts" class="ion-padding custom-skeleton">
        <ion-label>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let post of posts">
        <ion-label><h4>{{post.title}}</h4><p>{{post.body}}</p></ion-label>
        <ion-button>
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>