ion-content{
    --background: url(/assets/img/fondo2.png) no-repeat center center / cover
}

.racconfont{
    max-width: 200px;
    max-height: 200px;
}

.juegos-titulo{
    font-size: 25px;
    color: white;
    margin-left: 10px;
    font-family: "Oswald";
}

.example-card {
    --height: 100px;
    --width: 350% !important;
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    
    p{
            color: rgb(255, 255, 255);
    }

  }

  .titulo-color{
    color: white;
}

.comic-hori{
    display: flex;
    overflow-x: scroll !important;
    gap: 10px;
    scrollbar-width: none;
    
}

.novelas-hori{
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}

.color-header{
    --background: #000000d5; /* Color negro */
  --color: white; /* Texto en blanco */
}

.imgre1{
    width: 850px;
}

.tamaño-tarjeta{
    width: 300px; /* Estirar a los lados */
    height: 470px; /* Estirar para abajo */
    border-radius: 15px; /* modificar los bordes */
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255) !important;
}

.color-texto{
    color: white;
    padding: 20px 0px 0px 20px; /* | arriba  derecha  abajo || izquierda | */
}

.imagenes-tamaño{
    width: auto; /* Estirar a los lados */
    height: auto;
}